<nav class="navbar text-center">
        <div class="top">
                <img src="/img/img1.jpg" alt="img" class="img-fluid rounded-circle">
                <h4 class="my-4 text-center">Shruti Kushwah</h4>
        </div>
        <div class="down">
                <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/skills">Skills</a></li>
                        <li><a href="/contact">Contact</a></li>
                </ul>
        </div>
</nav>