* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* body{
        background: gray;
} */

.container-fluid{
        background: #000;
}

nav {
  width: 15vw;
  background: rgb(48, 36, 36);
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.top h4{
        font-family: 'Satisfy', cursive;
        font-size:30px;
        color: orange;
}

.down ul li {
  list-style: none;
  text-align: center;
  text-transform: capitalize;
  text-decoration: none;
  margin: 20px 40px;
  /* background: orange; */
}

.down ul li a {
  /* display: block; */
  color:white;
  text-align: center;
  font-size: 20px;
  text-transform: capitalize;
  text-decoration: none;
}

.down ul li a:hover{
   color: orange;
   cursor: pointer;
}

.imgs{
  margin-bottom:30px
}
.imgs img{
        width:230px;
        height:230px;
        border: 3px solid white;
}
.container{
  padding-top:30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  color: white;
}
.content{
  margin: 20px 0;
}
.indent{
  text-indent: 75px;
}
p{
  font-size: 17px;
}
.btn a{
  padding: 10px 20px;
  background: orange;
  color: white;
  cursor: pointer;
  font-size: 18px;
  margin: 10px 10px;
  text-decoration: none;
}
.btn a:hover{
  background: rgb(223, 31, 31);
  transition: all 0.5s ease-in-out;
}


/* about section styleing start  */

.services{
  width: 90%;
  margin: 20px auto;
}
.box{
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.box-item{
 /* border: 2px solid gray; */
  margin-top: 30px;
  flex-basis: 30%;
  text-align: center;
}
.box-item p i{
  color: greenyellow;
  font-size: 25px;
}
.box-item h3{
  color: orange;
}
.box-item p{
  color: white;
}

/* skills section styleing start  */
.skills{
  width: 90%;
  margin: 20px auto;
}
.skills-box{
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.skills-item{
 /* border: 2px solid gray; */
  margin-top: 40px;
  flex-basis: 40%;
  /* text-align: center; */
}
.skills-item input{
  width: 90%;
  accent-color: #2ecc71"
}
.skills-item h3{
  color: white;
}


/* contact section styling start  */

.contact{
  width: 90%;
  margin: 20px auto;
}
/* .skills-box{
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
} */

.text p{
  font-size: 17px;
  /* margin:20px 0; */
}

.contact-info{
  margin-top: 40px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact-info .our-info{
  flex-basis: 30%;
}

.our-info p i{
  color: greenyellow;
  font-size: 25px;
}

.our-info p{
  color: white;
}






















