<%- include('./include/header.ejs') %> 
<div class="container-fluid">
        <div class="row">
                <div class="col-sm-2">
                <%- include('./include/sidebar.ejs') %>      
                </div>
                <div class="col-sm-10">     
                        <div class="services">          
                           <div class="heading">
                                <h1 class="text-warning">Services</h1>
                                <hr class="bg-light">
                            </div> 
                            <div class="box">
                                <div class="box-item">
                                        <p><i class="fa-solid fa-user-secret"></i></p>
                                        <h3>SEO</h3>
                                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repudiandae, non!</p>
                                </div>
                                <div class="box-item">
                                        <p><i class="fa-solid fa-laptop-code"></i></p>
                                        <h3>WEB DESIGN</h3>
                                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repudiandae, non!</p>
                                </div>
                                <div class="box-item">
                                        <p><i class="fa-solid fa-code"></i></p>
                                        <h3>WEB DEVELOPMENT</h3>
                                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repudiandae, non!</p>
                                </div>
                                <div class="box-item">
                                        <p><i class="fa-solid fa-bug"></i></p>
                                        <h3>Android</h3>
                                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repudiandae, non!</p>
                                </div>
                                <div class="box-item">
                                        <p><i class="fa-brands fa-apple"></i></p>
                                        <h3>Ios</h3>
                                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repudiandae, non!</p>
                                </div>
                                <div class="box-item">
                                        <p><i class="fa-solid fa-barcode"></i></p>
                                        <h3>Advertising</h3>
                                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repudiandae, non!</p>
                                </div>
                                <div class="box-item">
                                        <p><i class="fa-regular fa-pen"></i></p>
                                        <h3>Logo design</h3>
                                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repudiandae, non!</p>
                                </div>
                                <div class="box-item">
                                        <p><i class="fa-solid fa-window-restore"></i></p>
                                        <h3>Hosting</h3>
                                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repudiandae, non!</p>
                                </div>
                                <div class="box-item">
                                        <p><i class="fa-solid fa-file-code"></i></p>
                                        <h3>Support</h3>
                                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repudiandae, non!</p>
                                </div>
                            </div>
                        </div>  
                </div>
        </div>
</div> 
<%- include('./include/footer.ejs') %>

