<%- include('./include/header.ejs') %>

<div class="container-fluid">
        <div class="row">
                <div class="col-sm-2">
                        <%- include('./include/sidebar.ejs') %>
                </div>
                <div class="col-sm-10">
                        <div class="container">
                        <div class="imgs">
                                <img src="/img/img1.jpg" alt="photo">  
                        </div>
                        <div class="content">
                        <h3 class="text-warning">Hello,</h3>
                        <p class="indent font-3">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sint iure vitae eum natus delectus laudantium ea nesciunt, molestiae beatae aperiam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat deleniti atque explicabo quasi nesciunt nam officia distinctio amet aliquid? Porro!</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa nihil architecto illo exercitationem necessitatibus porro incidunt dolorem. Officia culpa omnis in aperiam, obcaecati ducimus dolor sed similique quas mollitia! Earum odio laboriosam rerum. Error autem quaerat exercitationem explicabo quidem rem qui voluptas et totam, odio, impedit a libero, odit iste?</p>
                        </div>
                        <div class="btn">
                                <a href="">submit</a>
                                <a href="">submit</a>
                        </div>
                </div>
                </div>
        </div>
</div>

<%- include('./include/footer.ejs') %>


