<!<%- include('./include/header.ejs') %>
<div class="container-fluid">
        <div class="row">
                <div class="col-sm-2">
                <%- include('./include/sidebar.ejs') %>
                </div>
                <div class="col-sm-10">
                       <div class="skills">
                        <div class="heading">
                                <h1 class="text-warning">Skiils</h1>
                                <hr class="bg-light">
                            </div> 
                            <div class="skills-box">
                                <div class="skills-item">
                                        <h3>HTML/CSS</h3>
                                        <!-- <input type="range"> -->
                                        <input type="range" min="1" max="100" value="99" class="slider" id="myRange" style="accent-color: #cc652e">
                                </div>
                                <div class="skills-item">
                                        <h3>Javascript</h3>
                                        <!-- <input type="range"> -->
                                        <input type="range" min="1" max="100" value="70" class="slider" id="myRange" style="accent-color: #2e65cc">
                                </div>
                                <div class="skills-item">
                                        <h3>Java Programming</h3>
                                        <!-- <input type="range"> -->
                                        <input type="range" min="1" max="100" value="40" class="slider" id="myRange" style="accent-color: #2e65cc">
                                </div>
                                <div class="skills-item">
                                        <h3>Django</h3>
                                        <!-- <input type="range"> -->
                                        <input type="range" min="1" max="100" value="80" class="slider" id="myRange" style="accent-color: #b72ecc">
                                </div>
                                <div class="skills-item">
                                        <h3>React js</h3>
                                        <!-- <input type="range"> -->
                                        <input type="range" min="1" max="100" value="50" class="slider" id="myRange" style="accent-color: #b4cc2e">
                                </div>
                                <div class="skills-item">
                                        <h3>Node js</h3>
                                        <!-- <input type="range"> -->
                                        <input type="range" min="1" max="100" value="65" class="slider" id="myRange" style="accent-color: #2e65cc">
                                </div>
                                <div class="skills-item">
                                        <h3>Express js</h3>
                                        <!-- <input type="range"> -->
                                        <input type="range" min="1" max="100" value="80" class="slider" id="myRange" style="accent-color: #cc2e2e">
                                </div>
                                <div class="skills-item">
                                        <h3>MongoDB</h3>
                                        <!-- <input type="range"> -->
                                        <input type="range" min="1" max="100" value="50" class="slider" id="myRange" style="accent-color: #2ecc71">
                                </div>
                            </div>
                       </div> 
                </div>
        </div>
</div>

<%- include('./include/footer.ejs') %>



<!-- style="accent-color: #2ecc71" -->